
#title{
	font-family: 'Russo One', sans-serif;
	color: black;
	margin-left: 10px;
	font-size: 26px;
}

#timeNow{
	font-size: 18px;
	font-weight: bolder;
}

.addTitle{
	font-size: 14px;
	color: red;
}
.addTrain {
margin-left: 10px;
font-size: 	12px;
}

.container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-image: url('trainBackground.jpg');
}
